# Основные библиотеки
requests
numpy<2
gradio
einops
mega-x
gdown
wget

# Библиотеки для работы с аудио и видео
ffmpeg-python>=0.2.0
torchcrepe==0.0.23
PolUVR[gpu]
edge-tts

# Машинное обучение и нейронные сети
torch==2.6
torchaudio==2.6
torchvision==0.21
faiss-cpu==1.7.3
local-attention
tensorboardX

# Самостоятельно скомпилированные библиотеки
# Исправленные или доработанные | py-3.11
https://github.com/Bebra777228/TrainVocModel-EN/releases/download/fixed-packages/fairseq_fixed-0.13.0-cp311-cp311-linux_x86_64.whl
