requests
tensorboardX
fairseq==0.12.2
faiss-cpu==1.7.3
numpy==1.23.5
ffmpeg-python>=0.2.0
praat-parselmouth>=0.4.2
pyworld==0.3.4
torchcrepe==0.0.23
edge-tts
einops
local-attention
gradio>=5.20.0
mega.py
wget
gdown
PolUVR[gpu]
torch<2.6
torchaudio<2.6
torchvision<0.21
